## -*- :encoding= utf-8:mode=html: -*-
<%block name="content">
<!-- Begin post-list ${post_list_id} -->
<div id="${post_list_id}" class="post-list">
    %if posts:
    <%
        antyr = ''
        pagestart = True
    %>
    % for post in posts:
        <% yr = post.formatted_date('YYYY') %>
        %if yr != antyr:
            %if not pagestart:
                </ul>
            %endif
            <h2>${yr}</h2>
            <ul class="post-list espacio">
        %endif
        <li class="post-list-item">
            <div class="first line-block">
                <div class="line"><strong><a class="reference external" href="${post.permalink(lang)}">${post.title(lang)}</a></strong><!--, <strong>${post.meta('author')|h}</strong> --> - ${post.formatted_date('dd/MM/YYYY')}</div>
                <div class="line"><em>${post.meta('tags')|h}</em></div>
            </div>
            <p>${post.meta('description')|h}</p>
        </li>
        <%
            antyr = yr
            pagestart = False
        %>
    % endfor
    </ul>
    %endif
</div>
<!-- End post-list ${post_list_id} -->
</%block>
